ul {
    padding-left: 0;    
}

.one {
    list-style: none;
    margin-bottom: 5px;
}

span {
    display: inline-block;
    margin-right: 15px;
}

button.selected {
    background-color: rgb(30, 144, 210);
    color: aliceblue;
}